<div id="detail-container">
  <div class="logo">
    <img style="width:100%" src="/images/nordstrom_logo.jpg" />
  </div>
  <div class="my-rewards">
    <div class="md-whiteframe-z1" layout='column' layout-align='center start'>
      <accordion style="width:100%;">
        <accordion-group>
          <accordion-heading>
            <div layout='row' layout-align='space-between center'>
              <div style="width:100%;color:#fff;">
                <img style="height:32px;" src="/images/ziploop_logo.png" />
                <p style="float:right;color:black;line-height:1.5;font-size:22px;margin-bottom:4px;">3</p>
              </div>
            </div>
          </accordion-heading>
          <div style="display:block;" layout='row' layout-align='space-between center'>
            <div class="reward-list-item">
              <p>Take an extra 50% off any item</p>
              <p style="float:right;">50%</p>
            </div>
            <div class="reward-list-item">
              <p>Buy Two Jeans get one free</p>
            </div>
            <div class="reward-list-item">
              <p>Gift Card</p>
              <p style="float:right;">$50</p>
            </div>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>
  <div class="store-rewards">
    <div class="store-reward-item block">
      <div class="left">
        <img src="/images/n1.png" />
      </div>
      <div class="right text">
        <p class="desc">Heather-grey Muscle Tee</p>
        <div class="prices">
          <p class="norm">$75</p>
          <p class="disc">$45</p>
        </div>
      </div>
    </div>
    <div class="store-reward-item block">
      <div class="left text">
        <p class="desc">Silk Tank Silhouette</p>
        <div class="prices">
          <p class="norm">$32</p>
          <p class="disc">$25</p>
        </div>
      </div>
      <div class="right">
        <img src="/images/n2.png" />
      </div>
    </div>
    <div class="store-reward-item block">
      <div class="left">
        <img src="/images/n3.png" />
      </div>
      <div class="right text">
        <p class="desc">Striped T Back Tank</p>
        <div class="prices">
          <p class="norm">$40</p>
          <p class="disc">$25</p>
        </div>
      </div>
    </div>
    <div class="store-reward-item">
      <div class="top">
        <img src="/images/n4.png" />
      </div>
      <div class="bottom text">
        <p class="desc">Inseparable Separates</p>
        <div class="prices">
          <p class="norm">$115</p>
          <p class="disc">$95</p>
        </div>
      </div>
    </div>
    <div class="store-reward-item block">
      <div class="left text">
        <p class="desc">Leopold II Cream Sunglasses</p>
        <div class="prices">
          <p class="norm">$75</p>
          <p class="disc">$45</p>
        </div>
      </div>
      <div class="right">
        <img src="/images/n5.png" />
      </div>
    </div>
    <div class="store-reward-item block">
      <div class="left">
        <img src="/images/n6.png" />
      </div>
      <div class="right text">
        <p class="desc">Agnes Backpack</p>
        <div class="prices">
          <p class="norm">$190</p>
          <p class="disc">$145</p>
        </div>
      </div>
    </div>
  </div>
</div>